version: '3.8'

services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: $DB_PASSWORD
    ports:
      - 3306:3306
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./backend/tmp/db:/var/lib/mysql
    cap_add:
      - SYS_NICE
  
  backend:
    build:
      context: ./backend
    environment:
      DB_PASSWORD: $DB_PASSWORD
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
      AWS_REGION: $AWS_REGION
      DB_HOST: $DB_HOST
      DB_NAME: $DB_NAME
      DB_USERNAME: $DB_USERNAME
      RAILS_MASTER_KEY: $RAILS_MASTER_KEY
      API_DOMAIN: "localhost"
    command: /bin/sh -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    ports:
      - $BACKEND_PORT:3000
    volumes:
      - ./backend:/backend
    depends_on:
      - db
    stdin_open: true
    tty: true
    
  frontend:
    build:
      context: ./frontend
    environment:
      GOOGLE_API_KEY: $GOOGLE_API_KEY
      API_URL: "http://localhost:${BACKEND_PORT}/api/v1"
    command: yarn run dev
    volumes:
      - ./frontend:/frontend
    ports:
      - $FRONTEND_PORT:80
    depends_on:
      - backend