version: 2.1
orbs:
  aws-ecr: circleci/aws-ecr@7.0.0
  aws-ecs: circleci/aws-ecs@2.2.1

commands:
  install-bundler:
    steps:
      - run:
          command: |
            gem install bundler
            bundle config set path 'vendor/bundle'
            bundle install --jobs=4 --retry=3
          working_directory: ~/Locals-production/backend

jobs:
  rspec:
    working_directory: ~/Locals-production
    docker:
      - image: cimg/ruby:3.0.3
      - image: circleci/mysql:8.0
        environment:
          MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"
        command: mysqld --default-authentication-plugin=mysql_native_password
    environment:
      RAILS_ENV: test
      TEST_DB_HOST: "127.0.0.1"
      DB_PASSWORD: "${DB_PASSWORD}"
    steps:
      - checkout
      - install-bundler
      - run:
          command: bundle exec rails db:create
          working_directory: ~/Locals-production/backend
      - run:
          command: bundle exec rails db:migrate
          working_directory: ~/Locals-production/backend
      - run:
          name: RSpec
          command: bundle exec rspec
          working_directory: ~/Locals-production/backend

  rubocop:
    working_directory: ~/Locals-production
    docker:
      - image: cimg/ruby:3.0.3
    steps:
      - checkout
      - install-bundler
      - run:
          name: Rubocop
          command: bundle exec rubocop
          working_directory: ~/Locals-production/backend

  jest:
    docker:
      - image: cimg/node:16.13.1
    working_directory: ~/Locals-production
    steps:
      - checkout
      - run:
          name: install-packages
          command: yarn install
          working_directory: ~/Locals-production/frontend
      - run:
          name: test
          command: yarn test
          working_directory: ~/Locals-production/frontend

  eslint:
    docker:
      - image: cimg/node:16.13.1
    working_directory: ~/Locals-production
    steps:
      - checkout
      - run:
          name: install-packages
          command: yarn install
          working_directory: ~/Locals-production/frontend
      - run:
          name: lint
          command: yarn lint
          working_directory: ~/Locals-production/frontend

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - rspec
      - rubocop
      - jest
      - eslint
      - aws-ecr/build-and-push-image:
          name: build-and-push-image-frontend
          account-url: AWS_ECR_ACCOUNT_URL
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          region: AWS_REGION
          path: ./frontend
          repo: ${FRONT_REPO}
          tag: "${CIRCLE_SHA1}"
          requires:
            - jest
            - eslint
          filters:
            branches:
              only:
                - main
      - aws-ecr/build-and-push-image:
          name: build-and-push-image-backend
          account-url: AWS_ECR_ACCOUNT_URL
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          region: AWS_REGION
          path: ./backend
          repo: ${BACK_REPO}
          tag: "${CIRCLE_SHA1}"
          requires:
            - rspec
            - rubocop
          filters:
            branches:
              only:
                - main
      - aws-ecs/deploy-service-update:
          family: ${FRONT_FAMILY}
          service-name: ${FRONT_SERVICE}
          cluster-name: ${CLUSTER_NAME}
          container-image-name-updates: "container=${FRONT_CONTAINER_NAME},tag=${CIRCLE_SHA1}"
          requires:
            - build-and-push-image-frontend
          filters:
            branches:
              only:
                - main
      - aws-ecs/deploy-service-update:
          name: backend-service-update
          family: ${BACK_FAMILY}
          service-name: ${BACK_SERVICE}
          cluster-name: ${CLUSTER_NAME}
          container-image-name-updates: "container=${BACK_CONTAINER_NAME},tag=${CIRCLE_SHA1}"
          requires:
            - build-and-push-image-backend
          filters:
            branches:
              only:
                - main
      - aws-ecs/update-task-definition:
          name: update-db-migrate-task
          family: locals-db-migrate
          container-image-name-updates: "container=${BACK_CONTAINER_NAME},tag=${CIRCLE_SHA1}"
          requires:
            - backend-service-update
          filters:
            branches:
              only:
                - main
      - aws-ecs/update-task-definition:
          name: update-db-seed-task
          family: locals-db-seed
          container-image-name-updates: "container=${BACK_CONTAINER_NAME},tag=${CIRCLE_SHA1}"
          requires:
            - backend-service-update
          filters:
            branches:
              only:
                - main
      - aws-ecs/run-task:
          name: db-migrate
          cluster: ${CLUSTER_NAME}
          task-definition: locals-db-migrate
          security-group-ids: ${SECURITY_GROUP_ID}
          subnet-ids: ${SUBNET_ID_1A}, ${SUBNET_ID_1C}
          requires:
            - update-db-migrate-task
          filters:
            branches:
              only:
                - main
      - aws-ecs/run-task:
          name: db-seed
          cluster: ${CLUSTER_NAME}
          task-definition: locals-db-seed
          security-group-ids: ${SECURITY_GROUP_ID}
          subnet-ids: ${SUBNET_ID_1A}, ${SUBNET_ID_1C}
          requires:
            - db-migrate
          filters:
            branches:
              only:
                - main